         {% load static %}
         <!-- Blog Author Widget -->
            <div class="blog-author-widget widget-item">

              <div class="d-flex flex-column align-items-center">
                <div class="d-flex align-items-center w-100">
                  <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
                  <div>
                    <h4>Reinaldo Loyo</h4>
                    <div class="social-links">
                      <a href="https://x.com/reinaldoloyo"><i class="bi bi-twitter-x"></i></a>
                      <a href="https://facebook.com/reinaldoloyo"><i class="bi bi-facebook"></i></a>
                      <a href="https://instagram.com/reinaldo.loyo"><i class="biu bi-instagram"></i></a>
                      <a href="https://linkedin.com/in//reinaldoloyo"><i class="biu bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>

                <p>
                  Tech enthusiast with 15+ years in IT. Passionate about Python, automation, and data science.
                </p>

              </div>

            </div><!--/Blog Author Widget -->