{% extends "blog/base.html" %}
{% load static %}

{% block content %}
  {% include "blog/parts/slider.html" %}
<h1>About Us</h1>
<p>Welcome to our blog! We are passionate about sharing knowledge and insights on various topics.</p>
<p>Our team consists of experienced writers and enthusiasts who are dedicated to providing high-quality content that informs, educates, and entertains our readers.</p>
<p>We cover a wide range of subjects, including technology, lifestyle, travel, and more. Our goal is to create a community where readers can engage with our content, share their thoughts, and learn from each other.</p>
<p>Thank you for visiting our blog. We hope you find our articles helpful and inspiring!</p>
{% endblock %}