{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <h2>Contáctame</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

  {% if messages %}
    <ul class="mt-3">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}